/* css styles */

/* Custom CSS for Navigation Bar */
.navbar {
    background-color: rgb(151, 21, 45);  /* Change navbar background color */
    color: #f0f3f4 !important;  /* Change navbar text color */
}

/* Custom CSS for Buttons */
.btn {
    background-color: #ffffff;  /* Change button color */
    color: #2e4053;  /* Button text color */
    border: 1px solid #2e4053;  /* Change border color */
}

.btn:hover {
    background-color: rgb(0, 102, 102);  /* Button color on hover */
}
